{# posting/thankyou -- the thank you page in the posting series. #}

{% extends "app/page/posting/base.html" %}

{% from "app/page/posting/base.html" import posting_section %}
{% from "app/page/posting/base.html" import computer_grid, signup_grid %}


{# The content section of the posting thank you page. #}
{% block content %}
    <div class="posting-content">
        {{ thankyou_section(computer_grid() + thankyou_grid()) }}
    </div>
{% endblock content %}


{% macro thankyou_section(el, classes=[]) %}
    {% set my_classes = classes + ["thankyou-section"] %}

    {{ posting_section(el, my_classes) }}
{% endmacro %}


{% macro thankyou_grid() %}
    {% set my_classes = ["thankyou-grid"] %}

    {{ posting_grid(thankyou_el(), my_classes) }}
{% endmacro %}


{% macro thankyou_el() %}
    <div class="thankyou-title"></div>
    A thank you message.
{% endmacro %}
P
