<!DOCTYPE html>
<html>
    <head>
        {% include "alpha1/head.html" %}
    </head>

    <body>
        <header>
            <div id="main-logo"></div>
        </header>
        {% block body %} {% endblock %}
        <footer>
            <div class="email-section">
                <a href="mailto:contact@sendjack.com">contact@sendjack.com</a>
            </div>
            <!-- <div class="link-section">
                <a
                    href="https://twitter.com/sendjack"
                    class="twitter-icon">
                </a>
                <a
                    href="https://www.facebook.com/pages/Jackalope/404441532950393"
                    class="facebook-icon">
                </a>
            </div> -->
        </footer>
    </body>
</html>
