{% extends base.html %} 


{% block body %}
    <img src="/static/images/deck/01-Cover.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/02-Mission.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/03-Team.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/04-Brooklyn.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/05-Problem.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/06-Solution.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/07-Partners.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/08-Market.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/09-Story.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/10-Step1.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/11-Step2.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/12-Next.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/13-Revenue.jpg" width="100%" height="auto" />
    <img src="/static/images/deck/14-Financials.jpg" width="100%" height="auto" />
{% end %}
