<!DOCTYPE html>
<html>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Jackalope</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <body>
        <div align="center">
            <img src="/static/images/deck/01-Cover.jpg"      width="95%" height="auto" />
            <img src="/static/images/deck/02-Mission.jpg"    width="95%" height="auto" />
            <img src="/static/images/deck/03-Team.jpg"       width="95%" height="auto" />
            <img src="/static/images/deck/04-Brooklyn.jpg"   width="95%" height="auto" />
            <img src="/static/images/deck/05-Problem.jpg"    width="95%" height="auto" />
            <img src="/static/images/deck/06-Solution.jpg"   width="95%" height="auto" />
            <img src="/static/images/deck/07-Partners.jpg"   width="95%" height="auto" />
            <img src="/static/images/deck/08-Market1.jpg"    width="95%" height="auto" />
            <img src="/static/images/deck/09-Market2.jpg"    width="95%" height="auto" />
            <img src="/static/images/deck/10-Market3.jpg"    width="95%" height="auto" />
            <img src="/static/images/deck/11-Story.jpg"      width="95%" height="auto" />
            <img src="/static/images/deck/12-Step1.jpg"      width="95%" height="auto" />
            <img src="/static/images/deck/13-Step2.jpg"      width="95%" height="auto" />
            <img src="/static/images/deck/14-Next.jpg"       width="95%" height="auto" />
            <img src="/static/images/deck/15-Revenue.jpg"    width="95%" height="auto" />
            <img src="/static/images/deck/16-Financials.jpg" width="95%" height="auto" />
        </div>
    </body>

</html>
