{% extends base.html %} 


{% block body %}
    <h2>Get the Jackalope</h2>

    <form action="/signup/submit" method="POST" id="payment-form">
        <div class="form-row">
            <label>First Name</label>
            <input type="text" name="first-name" size="20" autocomplete="off" class="name"/>
        </div>
        <div class="form-row">
            <label>Last Name</label>
            <input type="text" name="last-name" size="20" autocomplete="off" class="name"/>
        </div>
        <div class="form-row">
            <label>Email</label>
            <input type="text" name="email" size="25" autocomplete="off"
                    class="email"/>
        </div>

        <input type="hidden" name="token" />
        <input type="hidden" name="_xsrf" value="{% raw xsrf_token %}" />

        <div class="form-row">
            <label>Card Number</label>
            <input type="text" size="20" autocomplete="off"
            class="card-number" value="4242424242424242" />
        </div>
        <div class="form-row">
            <label>CVC</label>
            <input type="text" size="4" autocomplete="off" class="card-cvc"
            value="975" />
        </div>
        <div class="form-row">
            <label>Expiration (MM/YYYY)</label>
            <input type="text" size="2" class="card-expiry-month"
            value="08" />
            <span> / </span>
            <input type="text" size="4" class="card-expiry-year"
            value="2016" />
        </div>
        <button type="submit" class="submit-button">See Jack Run</button>
    </form>

    <div class="payment-errors"></div>
{% end %}
