[submodule "sendjack/jutil"]
	path = sendjack/jutil
	url = https://github.com/sendjack/jutil.git
[submodule "sendjack/view/elementary"]
	path = sendjack/view/elementary
	url = https://github.com/sendjack/elementary.git
[submodule "sendjack/redflag"]
	path = sendjack/redflag
	url = https://github.com/sendjack/redflag.git
