[submodule "sendjack/jutil"]
	path = sendjack/jutil
	url = https://github.com/sendjack/jutil.git
[submodule "sendjack/view/elementary"]
	path = sendjack/view/elementary
	url = git@github.com:sendjack/elementary.git
