    input, textarea {
        .form-element;
    }
/***********************************************************
*
*   App: Jackalope 
*   
************************************************************/

/***********************************************************
* IMPORTS
************************************************************/
@import "reset";
@import "http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css";

/***********************************************************
* COLOR DEFINITIONS
************************************************************/
@white: rgb(255, 255, 255);
@black: rgb(0, 0, 0);


/***********************************************************
* SIZE DEFINITIONS
************************************************************/
@tinyFontSize: 8px;
@normalFontSize: 13px;
@bigFontSize: 25px;

@normalLineHeight: @normalFontSize + 3px;
@listLineHeight: 30px;
@bigLineHeight: @bigFontSize + 8px;

@headerHeight: 50px;

@textPadding: 15px;
@linePadding: 5px;
@buttonPadding: 30px;
@boxPadding: 15px;
@pagePadding: 350px;

@normalBorder: 2px;
@smallRound: 2px;
@normalRound: 3px;


/***********************************************************
* FONTS (with help from http://fontsquirrel.com)
************************************************************/
@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('fonts/helvetica-neue-light-webfont.eot'); //ie9
    src:
        url('fonts/helvetica-neue-light-webfont.eot?#iefix')
            format('embedded-opentype'), // ie6-8
        url('fonts/helvetica-neue-light-webfont.woff')
            format('woff'), // modern
        url('fonts/helvetica-neue-light-webfont.ttf')
            format('truetype'), // safari, android, ios
        url('fonts/helvetica-neue-light-webfont.svg#HeleveticaNeueLight')
            format('svg'); // old ios
    font-weight: normal;
    font-style: normal;
}

.headerFont(@fontSize: @bigFontSize) {
    font-family: 'Helvetica Neue Light', 'Arial Narrow', sans-serif;
    font-size: @fontSize;
}

.normalFont(@fontSize: @normalFontSize) {
    font-family: 'Helvetica Neue Light', 'Arial Narrow', sans-serif;
    font-size: @fontSize;
    letter-spacing: 1px;
}

.tinyFont(@fontSize: @altTinyFontSize) {
    font-family: 'Helvetica Neue Light', 'Arial Narrow', sans-serif;
    font-size: @fontSize;
    letter-spacing: 1px;
}
        


/***********************************************************
* TEXT STYLE SETS
************************************************************/
.buttonText() {
    .normalFont;
    color: @white;
}

/***********************************************************
* REUSABLE GENERIC CLASSES
************************************************************/
/* Create columns with no spacing. */
.columns (@number) {
    column-count: @number;
    -webkit-column-count: @number;
    -moz-column-count: @number;
    
    column-rule: 0px;
    -webkit-column-rule: 0px;
    -moz-column-rule: 0px;

    column-gap: 0px;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
}

/* Cross browser border-radius */
.border-radius(@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

/* Cross browser backgorund-size */
.background-size(@width, @height) {
    background-size: @width @height;
    -moz-background-size: @width @height;
    -webkit-background-size: @width @height;
    -o-background-size: @width @height;
}

/* Hide the content when using the background image for function. */
.hidden-content {
    line-height: 0px; 
    font-size: 0px;
    color: transparent; 
}

/* Add a box shadow. */
.box-shadow(@hShadow, @vShadow, @blur, @spread, @alpha, @inset: ~"") {
    -webkit-box-shadow: @hShadow @vShadow @blur @spread rgba(0, 0, 0, @alpha)
        @inset;
    -moz-box-shadow: @hShadow @vShadow @blur @spread rgba(0, 0, 0, @alpha)
        @inset;
    box-shadow: @hShadow @vShadow @blur @spread rgba(0, 0, 0, @alpha) @inset;
}

/* Use a background-image in a consistent way. */
.background-image-wrapper(
        @width,
        @height,
        @imageSource,
        @backgroundColor,
        @repeat: no-repeat) {
    width: @width;
    height: @height;
    background: url('/static/images/@{imageSource}') @backgroundColor @repeat;
    // background size needs to be after the background it's sizing.
    .background-size(@width, @height);
}

/* Center the background image in a consistent way. */
.centered-image(@position, @width, @height) {
    .horizontally-centered-image(@position, @width); 
    .vertically-centered-image(@position, @height);
}

.vertically-centered-image(@position, @height) {
    position: @position;
    top: 50%;
    margin-top: -(@height / 2);
}

.horizontally-centered-image(@position, @width) {
    position: @position;
    left: 50%;
    margin-left: -(@width / 2);
}

.opacity(@value) {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    @ieValue: @value * 100;
    filter: alpha(opacity=@ieValue);

    /* Netscape */
    -moz-opacity: @value;

    /* Safari 1.x */
    -khtml-opacity: @value;

    /* Good browsers */
    opacity: @value;
}


/***********************************************************
* REUSABLE APP-SPECIFIC CLASSES
************************************************************/
/* Add a light drop shadow below a box. */
.drop-box-shadow(
        @hShadow: 0px, 
        @vShadow: 2px, 
        @blur: 2px, 
        @spread: -1px,
        @alpha: .8) {
    .box-shadow(@hShadow, @vShadow, @blur, @spread, @alpha);
}

/* Inner drop shadow. */
.inner-box-shadow(
        @hShadow: 0px,
        @vShadow: 1px,
        @blur: 1px,
        @spread: 0px,
        @alpha: 0.2) {
    .box-shadow(@hShadow, @vShadow, @blur, @spread, @alpha, inset);
}
    

/* Emboss text slightly. */
.emboss-text {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.5);
}

/* Header section needs to cut off long text. */
.header-section {
    overflow-y: hidden;
}

.form-element {
    .normalFont;
    .border-radius(@smallRound);
    .inner-box-shadow();

    //height: @listLineHeight;
    border: 0px;
    padding: @textPadding @textPadding;
    background-color: @white;
    color: @black;

}

.icon(@picture_file) {
    .background-image-wrapper(
        48px,
        48px,
        @picture_file,
        transparent);
}


/***********************************************************
* ELEMENTARY
************************************************************/
/* I like this box model better so deal with it. */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

header, section, footer {
    width: 100%;
    text-align: center;
    float: left;

    .inner-wrapper {
        width: 100%;
        height: 100%;
        float: left;
    }
}

header {
    padding: @linePadding @pagePadding;
    height: @headerHeight;
}

section {
    padding: 0px @pagePadding;
    text-align: left;
}

button {
}

button {
    .buttonText;
    .border-radius(@normalRound);

    &:hover {
     cursor: pointer;
    }

    &[type=submit] {
        border: 0px;
        width: 100%;
        .background-image-wrapper(
            247px,
            30px,
            'signUpButton.png',
            transparent);

        &:active {
            .background-image-wrapper(
                247px,
                30px,
                'signUpButtonPressed.png',
                transparent);
        }
    }
}

li {
    margin-bottom: @linePadding;
    line-height: @listLineHeight;
}

/***********************************************************
* APP PAGE AND BODY AND HEADER
************************************************************/
.page {
    width: 100%;
    height: 100%;
}

.main-header {
    background: @black;
    float: left;

    .main-logo {
        .background-image-wrapper(
            42px,
            40px,
            'mainLogo.png',
            transparent);
        float: left;
        height: 100%;
        background-position: center;
    }

    .main-lettering {
        .background-image-wrapper(
            149px,
            27px,
            'mainLettering.png',
            transparent);
        float: right;
        height: 100%;
        background-position: center;
    }
}

/***********************************************************
* APP COMPONENTS
************************************************************/
.field-list {

    li {
        float: left;
        width: 100%;
        clear: both;

        .field, .sub-field {
            .key {
                float: left;
                width: 30%;
            }

            .head-key {
                float: left;
                width: 100%;
            }

            .sub-key {
                float: left;
                width: 30%;
                text-align: right;
                padding-right: @textPadding;
            }

            .value, .sub-value {
                float: left;
                width: 70%;
            }
        }
    }
}

/***********************************************************
* CONTENT - MAIN STYLE
************************************************************/
.main-content {
    /***********************************************************
    * MAIN - COLOR DEFINITIONS
    ************************************************************/
    @blue: rgb(0, 146, 255);
    @grey: rgb(151, 153, 156);

    /***********************************************************
    * MAIN - SIZE DEFINITIONS
    ************************************************************/


    /***********************************************************
    * MAIN - FONTS (with help from http://fontsquirrel.com)
    ************************************************************/

    /***********************************************************
    * MAIN - TEXT STYLE SETS
    ************************************************************/
    .headerText() {
        .headerFont;
        color: @white;
    }

    .titleText() {
        .headerFont;
        color: @black;
    }

    .labelText() {
        .normalFont;
        color: @grey;
    }

    .normalText() {
        .normalFont;
        color: @blue;
    }

    .contrastTitleText() {
        .headerFont;
        color: @white;
    }

    .contrastLabelText() {
        .normalFont;
        color: @black;
    }

    .contrastNormalText() {
        .normalFont;
        color: @white;
    }

    /***********************************************************
    * MAIN - FRAMEWORK AND BODY AND HEADER AND ELEMENTARY
    ************************************************************/
    width: 100%;
    height: 100%;
    float: left;
    .normalText;
    background-color: @blue;

    input, textarea {
        .form-element;
    }

    input {
        height: @listLineHeight;
    }


    /***********************************************************
    * MAIN - COMPONENTS
    ************************************************************/
    .normal-section {
        background: @white;
        .normalText();

        .title {
            .titleText();
        }

        .key, .head-key, .sub-key {
            .labelText();
        }

        .value, .sub-value {
            color: @blue;
        }
    }

    .contrast-section {
        background: @blue;
        .contrastNormalText();

        .title {
            .contrastTitleText();
        }

        .key, .head-key, .sub-key {
            .contrastLabelText();
        }

        .value, .sub-value {
        }
    }

    .grid {
        float: left;
        margin-top: @boxPadding;
        margin-bottom: @boxPadding;

        .title {
            padding-bottom: @boxPadding;
        }
    }

    .one-column-grid {
        width: 100%;
    }

    /* FIXME: make thi two-column-grid */
    .grid {
        width: 50%;
    }

    /***********************************************************
    * MAIN - TASK INSTANCE POST PAGE and TASK INSTANCE APPROVE PAGE
    ************************************************************/
    .task-instance-post-page, .task-instance-approve-page {
        display: none;

        section {
            margin-top: @buttonPadding;
            .contrastNormalText();
            font-size: 1.1em;
        }

        input, textarea {
            .contrastLabelText();

            &[disabled] {
                background: transparent;
                .inner-box-shadow(
                        0px,
                        0px,
                        0px,
                        0px,
                        0);
                padding: @textPadding 0px;
                color: @black;
            }
        }

        .grid {
            width: 100%;
            margin-top: @buttonPadding;
            margin-bottom: @buttonPadding;

            .submit-button {
                margin-top: @buttonPadding;
                margin-bottom: @buttonPadding;
            }

        }

        .paragraph {
            .contrastTitleText;
            margin-top: @buttonPadding;
            margin-bottom: @buttonPadding;
        }

        .field-list {
            margin-top: @buttonPadding;
            margin-bottom: @buttonPadding;

        }

        .key {
            .contrastNormalText();
            font-size: 1.2em;
        }

        .value {
            color: @black;
        }


        .task-instance-grid {
            .field-list {

                .key {
                    width: 20%;
                }
                .value {
                    width: 80%;
                }

                .key, .value, .sub-value {
                    float: none;
                    display: block;
                }
            }

        }

        #thank-you-grid {
            img {
                height: 60%;
                margin-top: 30px;
            }
        }

    }

    /***********************************************************
    * MAIN - NEW TEMPLATE PAGE
    ************************************************************/
    .template-new-page {
        .post-grid, .worker-grid {
            padding-left: 25px;
        }

        .tags-grid {
            clear: both;
        }
    }
}


/***********************************************************
* CONTENT - ALPHA SIGN UP SERIES (ALT)
************************************************************/
.alt-content {
    width: 100%;
    height: 100%;

    /***********************************************************
    * ALT - COLOR DEFINITIONS
    ************************************************************/
    @green: rgb(37, 202, 221);
    @teal: rgb(0, 183, 233);
    @blue: rgb(0, 136, 254);


    /***********************************************************
    * ALT - SIZE DEFINITIONS
    ************************************************************/
    @altFontSize: 13px;
    @altTinyFontSize: 8px;
    @altLineHeight: 16px;
    
    @altPagePadding: 200px;

    /***********************************************************
    * ALT - FONTS (with help from http://fontsquirrel.com)
    ************************************************************/

    /***********************************************************
    * ALT - TEXT STYLE SETS
    ************************************************************/
    .altText() {
        .normalFont;
        color: @white;
    }

    .altTinyText() {
        .tinyFont;
        color: @white;
    }


    /***********************************************************
    * ALT - FRAMEWORK AND BODY AND HEADER AND ELEMENTARY
    ************************************************************/
    a {
        color: @white;
        text-decoration: none;

        &:hover {
            color: @black;
        }
    }

    input, textarea {
        .form-element;
        margin: 7px 0px;
    }

    input {
        height: @listLineHeight;
    }
    
    button {
        margin: 7px 0px;
    }

    .page {
        display: none;
    }


    /***********************************************************
    * ALT - COMPONENTS
    ************************************************************/
    .alt-section {
        .altText;
        position: relative;
        top: 32%;
        padding: 0px @altPagePadding;
        
        .left-grid {
            float: left;
            .computer-image {

                .background-image-wrapper(
                    425px,
                    323px,
                    'computer.png',
                    transparent);
            }
        }

        .right-grid {
            width: 247px;
            margin-left: 50px;
            float: left;

            .title {
                margin-bottom: 15px;
            }

            .contact-anchor {
                .altTinyText;
                width: 100%;
                text-align: center;
            }
        }

        .line {
            margin-bottom: @altLineHeight;
        }

    }

    /***********************************************************
    * ALT - SIGN UP PAGE 
    ************************************************************/
    .sign-up-page {
        background-color: @green;

        .sign-up-grid {
            .sign-up-title {
                .background-image-wrapper(
                    247px,
                    57px,
                    'altSignUpTitle.png',
                    transparent);
            }

            .customer-view {
                input.first_name {
                    width: 47%;
                    float: left;
                }

                input.last_name {
                    width: 47%;
                    float: right;
                }

                input.email {
                    width: 100%;
                }

            }
        }
    }

    /***********************************************************
    * ALT - NEW TASK PAGE
    ************************************************************/
    .new-task-page {
        background-color: @teal;

        .new-task-grid {
            .new-task-title {
                .background-image-wrapper(
                    225px,
                    19px,
                    'altNewTaskTitle.png',
                    transparent);
            }

            .task-instance-view {
                input, textarea {
                    width: 100%;
                }
            }
        }
    }

    /***********************************************************
    * ALT - THANK YOU PAGE
    ************************************************************/
    .thank-you-page {
        background-color: @blue;

        .thank-you-grid {
            .thank-you-title {
                .background-image-wrapper(
                    148px,
                    30px,
                    'altThankYouTitle.png',
                    transparent);
            }
        }
    }
}
