<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>

    <body>
        <header>
            <div id="main-logo"></div>
        </header>
        {% block body %} {% end %}
        <footer>
            <div class="email-section">
                <a href="mailto:contact@sendjack.com">
                    contact@sendjack.com
                </a>
            </div>
            <div class="link-section">
                hiya
            </div>
        </footer>
    </body>
</html>
