{% extends "base2.html" %}


{% block body %}
    <section class="normal-section">
        <div class="inner-wrapper">
            <div class="subsection">
                <p class="subheader">New Template</p>
                <ul>
                    <li><span class="title">Name</span> Find me 20 CEOs</li>
                    <li><span class="title">Creator</span> Cassandra Orion</li>
                    <li><span class="title">Steps</span> Make a list of steps</li>
                    <li><span class="title">Custom Prop</span> TODO</li>
                    <li><span class="title">Output Type</span> xls</li>
                    <li><span class="title">Output Method</span> Email</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="contrast-section">
        <div class="inner-wrapper">
            <div class="subsection">
                <p class="subheader">Details</p>
                <ul>
                    <li><span class="title">Price</span> $15-$25</li>
                    <li><span class="title">Overhead</span> 5 Minutes</li>
                    <li><span class="title">Interactions</span> 1 Email</li>
                </ul>
            </div>
            <div class="subsection">
                <p class="subheader">Worker</p>
                <ul>
                    <li><span class="title">Name</span> James Marsh</li>
                    <li><span class="title">Rating</span></li>
                    <li><span class="title">Details / Notes</span></li>
                </ul>
            </div>
            <div class="subsection">
                <p class="subheader">Tags</p>
                <ul>
                    <li><span class="title">Category</span> Market Research</li>
                    <li>
                        <span class="title">Industry </span>
                        Finance, Health Care
                    </li>
                    <li><span class="title">Skills</span> Internet Research</li>
                    <li><span class="title">Equipment</span> Camera</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
