{# new_template -- a template creation page. #}

{% extends "app/body.html" %}

{% from "app/section.html" import normal_section, contrast_section %}
{% from "app/grid.html" import titled_grid %}
{% from "app/components.html" import field, columned_field_list %}


{# The content section of the template creation page. #}
{% block content %}
    {{ normal_section(main_grid()) }}
    {{ contrast_section(details_grid() + worker_grid() + tags_grid()) }}
{% endblock content %}


{# The main grid that is put in the top section of the page. #}
{% macro main_grid() %}
    {% set main_title = "New Template" %}
    {% set main_fields = [
            field("Name", "Find me 20 CEOs and then make this really long to
            see what happens."),
            field("Creator", "Cassandra Orion"),
            field("Steps", "Make a list of steps"),
            field("Custom Prop", "TODO"),
            field("Output Type", "xls"),
            field("Output Method", "Email")
            ]
    %}
    {% set main_el = columned_field_list(main_fields) %}
    {{ titled_grid(main_el, main_title) }}
{% endmacro %}


{# The details grid that is put in the bottom section of the page. #}
{% macro details_grid() %}
    {% set details_title = "Details" %}
    {% set details_fields = [
            field("Price", "$15-$25"),
            field("Overhead", "5 Minutes"),
            field("Interactions", "1 Email"),
            ]
    %}
    {% set details_el = columned_field_list(details_fields) %}
    {{ titled_grid(details_el, details_title) }}
{% endmacro %}


{# The worker grid that is put in the bottom section of the page. #}
{% macro worker_grid() %}
    {% set worker_title = "Worker" %}
    {% set worker_fields = [
            field("Name", "James Marsh"),
            field("Rating", ""),
            field("Details / Notes", "")
            ]
    %}
    {% set worker_el = columned_field_list(worker_fields) %}
    {{ titled_grid(worker_el, worker_title) }}
{% endmacro %}


{# The tags grid that is put in the bottom section of the page. #}
{% macro tags_grid() %}
    {% set tags_title = "Tags" %}
    {% set tags_fields = [
            field("Category", "Market Research"),
            field("Industry", "Finance, Health Care"),
            field("Skills", "Internet Research"),
            field("Equipment", "Camera")
            ]
    %}
    {% set tags_el = columned_field_list(tags_fields) %}
    {{ titled_grid(tags_el, tags_title) }}
{% endmacro %}
