{# components -- small reusable building blocks. #}

{% from "util.html" import get_class_attr %}


{# The field element has both a key and value. #}
{% macro field(key, value, classes=[]) %}
    {% set my_classes = classes + ["field"] %}

    <div {{ get_class_attr(my_classes) }}>
        <div class="key">{{ key }}</div>
        <div class="value">{{ value }}</div>
    </div>
{% endmacro %}


{% macro title(el, classes=[]) %}
    {% set my_classes = classes + ["title"] %}

    <p {{ get_class_attr(my_classes) }}>{{ el }}</p>
{% endmacro %}


{% macro field_list(field_els, classes=[]) %}
    {% set my_classes = classes + ["field-list"] %}

    <ul {{ get_class_attr(my_classes) }}>
        {% for el in field_els %}
            <li>{{ el }}</li>
        {% endfor %}
    </ul>
{% endmacro %}


{# A field list where the key and value are in two distinct columns. #}
{% macro columned_field_list(fields, classes=[]) %}
    {% set my_classes = classes + ["columned-field-list"] %}

    {{ field_list(fields, my_classes) }}
{% endmacro %}


{% macro contact_link() %}
    <div class="contact-link">
        <a href="mailto:alpha@sendjack.com" target="_blank">Contact Us</a>
    </div>
{% endmacro %}
